.aboutUs-container-global{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem ;
    padding-bottom: 4rem;
    color: var(--primary-colour);

    h1{
        font-size: 3.6rem;
        text-align: center;
        padding-bottom: 5rem;
    }

    p{
        font-size: var(--paragraph-size);
        text-align: center;
    }

    .entreprise-infos-container{
        max-width: 100rem;
        padding: 2rem;

        h1{
         
        }
    }

     .team-infos-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        
         h1{

           padding-top: 5rem;
        }
    }

    .team-cards-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5rem;
        padding-top: 2rem;
    }

}