.footer {
    background-color: rgba(175, 176, 175, 0.436);
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: flex-end;
       

    a {
        text-align: end;
        font-size: 2rem;
        text-decoration: none;
        list-style-type: none;
        padding : 1.5rem;
        color: white;
       
    }

}