.home {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-direction: column;
    height: 350vh;

        /*.mercury{
            border-radius:6.25rem;
            height: 12rem;
            width: 12rem;
            box-shadow: 1px 2px 5px #d6d2d2;
        }
        .venus{
            border-radius: 6.25rem;
            width: 5.625rem;
            height: 5.625rem;
            box-shadow: 1px 2px 5px #d6d2d2;
        }
        .earth{
            border-radius: 6.25rem;
            width: 5.625rem;
            height: 5.625rem;
            box-shadow: 1px 2px 5px #d6d2d2;
        }
        .mars{
            border-radius: 6.25rem;
            width: 5rem;
            height: 5rem;
            box-shadow: 1px 2px 5px #d6d2d2;
        }
        .jupiter{
            border-radius: 6.25rem;
            width: 12.5rem;
            height: 12.5rem;
            box-shadow: 1px 2px 5px #d6d2d2;
        }
        .saturne{
            border-radius: 6.25rem;
            width: 9.375rem;
            height: 9.375rem;
            box-shadow: 1px 2px 5px #d6d2d2;
        }
        .uranus{
            border-radius: 6.25rem;
            width: 7.5rem;
            height: 7.5rem;
            box-shadow: 1px 2px 5px #d6d2d2;
        }
        .neptune{
            border-radius: 6.25rem;
            width: 7.5rem;
            height: 7.5rem;
            box-shadow: 1px 2px 5px #d6d2d2;
        }*/
        .planet-pic {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 20%;
        }
        .planet-name h1 {
            display: flex;
            justify-content: center;
            color: #d6d2d2;
            font-size: 18px;
            text-decoration: none;
            padding-top: 2rem;
        }

        .planet-img{
            display: flex;
            border-radius: 8rem;
            height: 16rem;
            width: 16rem;
            box-shadow: 1px 2px 5px #d6d2d2;
            gap: 7%;
        }
        /*.saturnring {
            height: 10rem;
        }*/
        @media (min-width: 600px){     
            display: flex;
            justify-content: space-around;
            align-items: center; 
            flex-direction: row;
            height: 90vh; 
            column-gap: 0;
                  
                /*.mercury{
                    border-radius: 6.25rem;
                    height: 12rem;
                    width: 12rem;
                    box-shadow: 1px 2px 5px #d6d2d2;
                }
                .venus{
                    border-radius: 6.25rem;
                    width: 12rem;
                    height: 12rem;
                    box-shadow: 1px 2px 5px #d6d2d2;
                }
                .earth{
                    border-radius: 6.25rem;
                    width: 12rem;
                    height: 12rem;
                    box-shadow: 1px 2px 5px #d6d2d2;
                }
                .mars{
                    border-radius: 6.25rem;
                    width: 12rem;
                    height: 12rem;
                    box-shadow: 1px 2px 5px #d6d2d2;
                }
                .jupiter{
                    border-radius: 6.25rem;
                    width: 12.5rem;
                    height: 12.5rem;
                    box-shadow: 1px 2px 5px #d6d2d2;
                }
                .saturne{
                    border-radius: 6.25rem;
                    width: 12rem;
                    height: 12rem;
                    box-shadow: 1px 2px 5px #d6d2d2;
                }
                .uranus{
                    border-radius: 6.25rem;
                    width: 12rem;
                    height: 12rem;
                    box-shadow: 1px 2px 5px #d6d2d2;
                }
                .neptune{
                    border-radius: 6.25rem;
                    width: 12rem;
                    height: 12rem;
                    box-shadow: 1px 2px 5px #d6d2d2;
                }
                /*.saturnring {
                    height: 10rem;
                }*/

                .planet-name h1{
                    display: flex;
                    justify-content: space-around;
                    margin-right: 2rem;
                    color: #d6d2d2;
                    font-size: 27px;
                    text-decoration: none;
                    padding-top: 3rem;
                    padding-left: 2rem;
                }

                .planet-img{
                    border-radius: 8rem;
                    height: 16rem;
                    width: 16rem;
                    box-shadow: 1px 2px 5px #d6d2d2;
                }

                img {
                    --s: 30px;   /* the size of the image */
                    --b: 0px;     /* the border thickness*/
                    --g: 12px;    /* the gap */
                    --c: #4ECDC4; /* the color */
                    
                    width: var(--s);
                    aspect-ratio: 1;
                    outline: calc(var(--s)/2) solid #0009;
                    outline-offset: calc(var(--s)/-2);
                    cursor: pointer;
                    transition: 3s;
                  }
                  img:hover {
                    outline: var(--b) solid var(--c);
                    outline-offset: var(--g);
                    transform: rotate(360deg);
                  }
                  
                  img + img {
                    border-radius: 50%;
                  }        
    }      
}






#root {
	min-height: 100vh;
	background: black url("./assets/8k_stars.jpg") no-repeat fixed center / cover;
}