.rockets-container-global{
    max-width: 130rem;
    color: var(--primary-colour);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 3rem 0;
}

