@charset "utf-8";

// Variables

:root {
    // Colours
    --primary-colour: #cac8bc;

    // Font sizes
    --title-size: 1.6rem;
    --title-size-desktop: 3.6rem;
    --paragraph-size: 1.6rem;
    --paragraph-size-desktop: 2rem;
    --input-size: 1.6rem;
    --input-size-desktop: 1.6rem;
}