$breakpoint-small : 360px;

.contact-form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #d9d9d97a ;
    border-radius: 56px ;
    @media screen and (min-width=$breakpoint-small) {
        
    }
    

    .input {
        height: 1.5rem;
        width: 30rem;
        border : #d9d9d9 solid 1.5px;

    }

    .textaera {
        height: 20rem;
        width: 30rem;
        border : #d9d9d9 solid 1.5px;
    }

    .h1 {
        font-size: 42rem;
    }
    .buttonContact {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        border : #d9d9d9 solid 1.5px;
        width: 10rem;
        height: 2rem;
        transition-duration: all 0.4s;


      
    @media screen and (min-width = $breakpoint-small ){
        .buttonContact{
        &:hover {
            background-color: #4CAF50; /* Green */
            color: white;
        }
    }
    }
    
    }

   
}